* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    min-height: 10vh;
}

.nav-item {
    width: 150px;
    font-size: 30px;
}

@media (max-width:992px){
    .nav-item {
        font-size: 20px;
    }
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #2f363e;
}